<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>textutils</title>
</head>
    <body>
    <h1>
        welcome.
        Enter your text below
    </h1>
    <form action="/analyze" method="get">
        <textarea name="text" style="margin: 0px; width: 721px; height: 93px;"></textarea><br>

        <input type="checkbox" name="removepunc"> Remove punc<br>
        <input type="checkbox" name="fullcaps"> UPPERCASE<br>
        <input type="checkbox" name="newlineremove"> Remove line break<br>
        <input type="checkbox" name="charcount"> Character counter<br>
        <button type="submit">Analyse Text</button>
    </form>
    </body>
</html>